<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="moz-header__share">
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-twitter"></span>
    </a>
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-facebook"></span>
    </a>
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-instagram"></span>
    </a>
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-linkedin"></span>
    </a>
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-xing"></span>
    </a>
    <a href="#" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-envelope"></span>
    </a>
</div>

</html>
