<div class="moz-header__share">
    <a href="https://mozgiel.de" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-twitter"></span>
    </a>
    <a href="https://mozgiel.de" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-facebook"></span>
    </a>
    <a href="https://mozgiel.de" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-instagram"></span>
    </a>
    <a href="https://mozgiel.de" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-linkedin"></span>
    </a>
    <a href="https://mozgiel.de" class="moz-icon__wrapper">
        <span class="bootstrappackageicon bootstrappackageicon-xing"></span>
    </a>
</div>
