<nav id="MozTopicsAlphabeticIndex" aria-label="Alphabetischer Index">
    <ul class="pagination">
        <li class="page-item"><a class="page-link active" data-char="all" href="#">Alle</a></li>
        <li class="page-item"><a class="page-link" data-char="A" href="#">A</a></li>
        <li class="page-item"><a class="page-link" data-char="B" href="#">B</a></li>
        <li class="page-item"><a class="page-link" data-char="C" href="#">C</a></li>
        <li class="page-item"><a class="page-link" data-char="D" href="#">D</a></li>
        <li class="page-item"><a class="page-link" data-char="E" href="#">E</a></li>
        <li class="page-item"><a class="page-link" data-char="F" href="#">F</a></li>
        <li class="page-item"><a class="page-link" data-char="G" href="#">G</a></li>
        <li class="page-item"><a class="page-link" data-char="H" href="#">H</a></li>
        <li class="page-item"><a class="page-link" data-char="I" href="#">I</a></li>
        <li class="page-item"><a class="page-link" data-char="J" href="#">J</a></li>
        <li class="page-item"><a class="page-link" data-char="K" href="#">K</a></li>
        <li class="page-item"><a class="page-link" data-char="L" href="#">L</a></li>
        <li class="page-item"><a class="page-link" data-char="M" href="#">M</a></li>
        <li class="page-item"><a class="page-link" data-char="N" href="#">N</a></li>
        <li class="page-item"><a class="page-link" data-char="O" href="#">O</a></li>
        <li class="page-item"><a class="page-link" data-char="P" href="#">P</a></li>
        <li class="page-item"><a class="page-link" data-char="Q" href="#">Q</a></li>
        <li class="page-item"><a class="page-link" data-char="R" href="#">R</a></li>
        <li class="page-item"><a class="page-link" data-char="S" href="#">S</a></li>
        <li class="page-item"><a class="page-link" data-char="T" href="#">T</a></li>
        <li class="page-item"><a class="page-link" data-char="V" href="#">V</a></li>
        <li class="page-item"><a class="page-link" data-char="W" href="#">W</a></li>
        <li class="page-item"><a class="page-link" data-char="U" href="#">U</a></li>
        <li class="page-item"><a class="page-link" data-char="X" href="#">X</a></li>
        <li class="page-item"><a class="page-link" data-char="Y" href="#">Y</a></li>
        <li class="page-item"><a class="page-link" data-char="Y" href="#">Y</a></li>
        <li class="page-item"><a class="page-link" data-char="Z" href="#">Z</a></li>
    </ul>
</nav>
