<nav id="MozTopicsPageIndex" aria-label="Seitenindex">
    <ul class="pagination">
        <li class="page-item"><a id="MozTopicsPrevPage" class="page-link" data-page="prev" href="#"><i class="fa fa-chevron-left"></i></a></li>
        <li class="page-item"><a class="page-link active" data-page="1" href="#">1</a></li>
        <li class="page-item"><a class="page-link" data-page="2" href="#">2</a></li>
        <li class="page-item"><a class="page-link" data-page="3" href="#">3</a></li>
        <li class="page-item"><a id="MozTopicsNextPage" class="page-link" data-page="next" href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
</nav>
